:root{
    --primary-color: #1190cb;
    --secondary-color: #fff;
    --tertiary-color: #e8491d;
    --blue-off-white: #c3dadb;
    --dark-off-white: #e1e1e1;
}

footer#main-footer{
    background-color: var(--dark-off-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin: 0;
    overflow: hidden;
    padding: 5px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    z-index: 1;
}

footer div#footer-quick-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

footer div#footer-quick-links a{
    color: black;
    margin: 0 10px;
}